extends partials/layout.pug

block content

	p Select Style
	select
		option Thin Crust
		option Deep Dish
		option NY

	p Select Size
	select
		option Extra Large
		option Large
		option Medium
		option Small

	p Select Toppings
	select
		option Pepperoni
		option Extra Cheese
		option Shrooms
		option Bacon
		option Sausage
		option Kittens
